* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, #2ba, #1f3, #bca, #ef3, #d3a, #2fa);
}

.password {
  width: 80%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.password>h1 {
  color: #a4b;
}

.pass {
  color: #e3a;
  padding-bottom: 5px;
  border-bottom: 2px solid #e3a;
}

.displayPass {
  width: 50%;
  min-width: 300px;
  background-color: #fff;
  padding: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.displayPass>i {
  color: rgba(0, 0, 250, 1);
  font-size: 25px;
  cursor: pointer;
}

.displayPass>i:hover {
  color: rgba(0, 200, 240, 1);
  font-size: 25px;
  cursor: pointer;
}

#pass-input {
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
}

#generate {
  min-width: 150px;
  color: #346;
  font-size: 15px;
  padding: 5px;
  background-color: rgba(230, 48, 200, 1);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
}

#generate:hover {
  background-color: rgba(230, 48, 200, 0.5);
}

#generate>i {
  color: rgba(230, 200, , 1);
  font-size: 25px;
}