* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

bodyn {
  background-color: rebeccapurple;
}

/* styling the header section */
.header {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact {
  color: rgba(0, 200, 200, 1);
  text-decoration: none;
}

.contact:hover {
  color: rgba(0, 200, 200, 0.4);
}

.list li {
  color: #ffffff;
}

.myicon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.myicon li>a {
  text-decoration: none;
}

.myicon li {
  list-style-type: none;
}

.myicon li a>i {
  color: rgba(0, 200, 200, 1);
  transition: transform 1s ease;
}

.myicon li a>i:hover {
  transform: rotateY(180deg);
  color: rgba(0, 200, 200, 0.7);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
  }

  .list ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .list ul>li {
    font-size: 14px;
  }

  .myicon li>a {
    font-size: 19px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 6% 0 6%;
  }

  .list ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .list ul>li {
    font-size: 18px;
  }

  .myicon li>a {
    font-size: 21px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .list ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .list ul>li {
    font-size: 20px;
  }
}

/* styling the navigation bar section */

.navigatbar {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 1);
  position: sticky;
  top: 0;
  z-index: 5;
}

.sidelist {
  list-style-type: none;
}

#active {
  color: rgba(0, 200, 200, 1);
}

.sidelist a {
  text-decoration: none;
  color: #000;
}

.sidelist a:hover {
  color: rgba(0, 200, 200, 1);
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  width: 150px;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 5px 2px rgba(200, 200, 200, 1);
  border-top: 3px solid rgba(0, 200, 200, 1);
  z-index: 3;
}

.dropdown-content a {
  padding: 20px;
  display: block;
  text-align: bottom;
  transition: all 1s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(150, 150, 150);
  color: black;
}

.myRemove {
  list-style-type: none;
}

#sideRemove {
  font-size: 19px;
  color: #000;
  font-weight: bold;
  outline: none;
  border: none;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  float: right;
  transition: all 1s ease;
  background-color: rgba(150, 150, 150, 0);
}

#sideRemove:hover {
  background-color: rgba(150, 150, 150, 1);
}

#sideIcon {
  font-size: 21px;
  color: #000;
  font-weight: bold;
  outline: none;
  border: none;
  display: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigatbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4% 0 4%;
  }

  .navlogo {
    display: flex;
    align-items: center;
  }

  .navlogo img {
    width: 90px;
    height: 30px;
  }

  .navlist {
    display: none;
  }

  .sidelist a {
    font-size: 19px;
  }

  .responsiveSide {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 40%;
    padding: 15px;
    background-color: rgb(253, 253, 253);
    box-shadow: 3px 3px 6px rgba(240, 240, 240, 1) inset;
  }

  .responsiveSide>.myRemove>#sideRemove {
    display: block;
  }

  .responsiveSide>.dropdown>.dropdown-content {
    width: 90%;
  }

  #sideIcon {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navigatbar {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
  }

  .navlogo {
    display: flex;
    align-items: center;
  }

  .navlogo img {
    width: 120px;
    height: 40px;
  }

  .sidelist a {
    font-size: 21px;
  }

  .navlist {
    display: none;
  }

  .responsiveSide {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 30%;
    padding: 15px;
    background-color: rgb(253, 253, 253);
    box-shadow: 3px 3px 6px rgba(240, 240, 240, 1) inset;
  }

  .responsiveSide>.myRemove>#sideRemove {
    display: block;
  }

  #sideIcon {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navigatbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 7%;
  }

  .navlogo img {
    width: 130px;
    height: 50px;
  }

  .navlist {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #sideIcon {
    display: none;
  }
}

/* Styling we love to build ... section */

.love {
  width: 100%;
  height: 80vh;
  background-color: rgba(150, 150, 150, 0.5);
  background-image: url("hero_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile1 {
  font-size: 50px;
}

.mobile2 {
  font-size: 20px;
}

.corlib {
  text-decoration: none;
  color: rgba(0, 255, 200, 0.8);
}

.mobile3 {
  background-color: rgba(0, 255, 200, 1);
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  padding: 17px;
  border-width: 0px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color, letter-spacing 0.5s ease;
}

.mobile3:hover {
  background-color: rgba(0, 255, 200, 0.6);
  letter-spacing: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .mobile1 {
    font-size: 25px;
  }

  .mobile2 {
    font-size: 18px;
  }

  .mobile3 {
    width: 110px;
    padding: 10px;
    font-size: 14px;
  }
}

/* styling the section of Innovate, Create, Scale */
.superimposed {
  position: relative;
}

.head123 {
  color: rgba(0, 230, 210, 1);
}

.three {
  color: rgba(0, 0, 0, 0.1);
  font-size: 110px;
  font-weight: bold;
}

.scale {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  position: absolute;
  top: 30px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.li3 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check {
  color: rgba(0, 240, 200, 1);
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .incresca {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 0 10px 0;
  }

  .superimposed {
    width: 90%;
    margin: 0 auto 0 auto;
    height: 340px;
  }

  .three {
    font-size: 80px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .incresca {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 2% 40px 2%;
  }

  .superimposed {
    width: 80%;
    margin: 0 auto 0 auto;
    height: 270px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .incresca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 70px 2% 60px 2%;
  }

  .superimposed {
    width: 45%;
    height: 300px;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .incresca {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-template-rows: 320px;
    justify-content: space-between;
    padding: 70px 2% 50px 2%;
  }

  .superimposed {
    width: auto;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .incresca {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 290px;
    justify-content: space-between;
    padding: 70px 5% 60px 5%;
  }
}

/* styling "our works" section */

.ourWorks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.our-head {
  color: rgba(0, 0, 0, 1);
}

.ourLorem {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ourWorks {
    padding: 30px 0 30px 0;
    gap: 20px;
  }

  .our-head {
    font-size: 30px;
  }

  .ourLorem {
    font-size: 18px;
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ourWorks {
    padding: 40px 0 40px 0;
    gap: 20px;
  }

  .our-head {
    font-size: 40px;
  }

  .ourLorem {
    font-size: 20px;
    width: 70%;
    margin: 0 auto 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ourWorks {
    padding: 50px 0 60px 0;
  }

  .ourLorem {
    width: 50%;
  }
}

/* Styiling grid picture */

.gridPicture {
  background-color: #fff;
}

.gridImage {
  position: relative;
}

.gridImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.gridImage:hover img {
  filter: brightness(20%);
}

.hidden {
  width: 100%;
  display: none;
  position: absolute;
  text-align: center;
  transition: all 1s ease;
  top: 46%;
}

.gridImage:hover .hidden {
  color: #fff;
  display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px),
(min-width: 600px) {
  .gridPicture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 350px 350px 350px 350px 350px 350px;
    padding: 20px 5% 50px 5%;
    gap: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gridPicture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 370px 370px 370px 370px 370px 370px;
    padding: 20px 5% 60px 5%;
    gap: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gridPicture {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 350px 350px 350px;
    padding: 20px 2% 60px 2%;
    justify-content: space-between;
    gap: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gridPicture {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 350px 350px;
    padding: 20px 2% 60px 2%;
    gap: 20px;
  }
}

/* Styling black grid section */

.blackGrid {
  background-color: rgba(0, 0, 0, 1);
}

.gridLorem h2,
.aa {
  color: #fff;
}

.aa {
  transition: all 1s ease;
}

.aa:hover {
  letter-spacing: 1px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.gridLorem p {
  color: rgba(200, 200, 200, 0.6);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .blackGrid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 6%;
  }

  .itTable {
    height: 380px;
  }

  .itTable img {
    width: 100%;
    height: 100%;
  }

  .gridLorem>h2 {
    font-size: 20px;
  }

  .gridLorem p {
    font-size: 17px;
  }

  .gridLorem {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .aa {
    width: 90px;
  }

  .aa:hover {
    width: 100px
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blackGrid {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5%;
    margin: 0 auto 0 auto;
  }

  .itTable {
    height: 420px;
  }

  .itTable img {
    width: 100%;
    height: 100%;
  }

  .gridLorem>h2 {
    font-size: 21px;
  }

  .gridLorem p {
    font-size: 19px;
  }

  .gridLorem {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .aa {
    font-size: 17px;
    width: 94px;
  }

  .aa:hover {
    width: 100px
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .blackGrid {
    width: 70%;
    padding: 3%;
  }

  .itTable {
    height: 500px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blackGrid {
    width: 98%;
    background-color: rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 50% auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 3%;
  }

  .itTable {
    grid-row: 1/span 2;
    height: auto;
  }

  .itTable img {
    width: 80%;
    height: 95%;

  }

  .gridLorem {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .gridLorem>h2 {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .blackGrid {
    width: 80%;
    padding: 2%;
  }

  .itTable img {
    width: 85%;
    height: 98%;
  }

}

/* Styling Testimonials */

.testimony {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.test {
  color: #000;
}

.animate-test {
  overflow: hidden;
}

.test-fade {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  animation: fading 0.4s ease;
}

@keyframes fading {
  from {
    margin-right: -10%;
  }

  to {
    margin-right: 0;
  }
}

.test-par>p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.image-fade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.john1 {
  border-radius: 50%;
}

.john {
  font-size: 16px;
  color: rgba(10, 20, 30, 0.8);
}

.bigdot {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.dot1 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.active {
  background-color: aqua;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px),
(min-width: 600px) {
  .testimony {
    padding: 50px 2% 50px 2%;
  }

  .test {
    font-size: 35px;
  }

  .test-par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: aqua;
  }

  .test-par>p {
    font-size: 15px;
  }

  .john1 {
    width: 50px;
    height: 50px;
  }

  .dot1 {
    width: 12px;
    height: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .testimony {
    padding: 70px 2% 70px 2%;
  }

  .test {
    font-size: 37px;
  }

  .test-par {
    width: 80%;
    margin: 0 auto 0 auto;
  }

  .test-par>p {
    font-size: 22px;
  }

  .dot1 {
    width: 15px;
    height: 15px;
  }

  .john1 {
    width: 70px;
    height: 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .test {
    font-size: 39px;
  }

  .test-par {
    width: 70%;
    margin: 0 auto 0 auto;
  }

  .test-par>p {
    font-size: 24px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .test {
    font-size: 41px;
  }

  .test-par {
    width: 65%;
    margin: 0 auto 0 auto;
  }

  .test-par>p {
    font-size: 27px;
  }
}


/* Styling Our Services section */

.servi {
  background-color: rgb(255, 255, 255);
}

.htopp,
.ptopp {
  color: rgba(20, 30, 10, 0.8);
}

.atopp {
  color: rgba(0, 240, 200, 1);
  text-decoration: none;
  transition: all 0.5s ease;
}

.serviUno {
  color: rgba(0, 240, 200, 1);
  font-weight: bold;
}

.uno {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.topp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .servi {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 4% 60px 4%;
  }

  .ourServi {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .serviUno {
    font-size: 25px;
  }

  .htopp {
    font-size: 20px;
  }

  .ptopp {
    font-size: 18px;
  }

  .atopp {
    font-size: 16px;
    width: 90px;
  }

  .atopp:hover {
    text-decoration: underline;
    letter-spacing: 1px;
    color: rgba(0, 240, 200, 0.5);
    width: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .servi {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10% 60px 10%;
  }

  .ourServi {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }

  .serviUno {
    font-size: 30px;
  }

  .htopp {
    font-size: 21px;
  }

  .ptopp {
    font-size: 19px;
  }

  .atopp {
    font-size: 17px;
    width: 95px;
  }

  .atopp:hover {
    text-decoration: underline;
    letter-spacing: 1px;
    color: rgba(0, 240, 200, 0.5);
    width: 105px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .servi {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 10px auto 60px auto;
    padding: 30px 10% 60px 10%;
    gap: 35px;
  }

  .ourServi {
    grid-column: 1/span 2;
    text-align: center;
    font-size: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .servi {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    padding: 30px 7% 60px 7%;
    gap: 40px;
  }

  .ourServi {
    grid-column: 1/span 3;
    text-align: center;
    font-size: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .servi {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    gap: 40px;
    padding: 30px 10% 60px 10%;
  }
}

/* blank division */

.blank1 {
  height: 2px;
  background-color: rgba(100, 100, 100, 0.6);
}

/* Styling about us section */

.abImg img {
  border-radius: 5px;
}

.about-us {
  color: #000;
}

.par1,
.par2,
.about-par {
  color: rgba(100, 100, 100, 1);
}

.headh2,
.about1 i {
  color: rgba(90, 90, 90, 1);
  font-weight: bold;
}

.a-learn {
  text-decoration: none;
  color: rgba(0, 240, 250, 1);
  transition: all 0.6s ease;
}

.a-learn:hover {
  color: rgba(0, 240, 250, 0.5);
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .aboutus {
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
    gap: 30px;
  }

  .abImg img {
    width: 100%;
    height: 350px;
  }

  .abImg,
  .aboutHead,
  .about1 {
    width: 90%;
    margin: 0 auto 0 auto;
  }

  .aboutHead {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .about1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-us {
    font-size: 35px;
  }

  .about-par {
    font-size: 20px;
  }

  .headh2 {
    font-size: 21px;
  }

  .par2 {
    font-size: 17px;
  }

  .about1 i {
    font-size: 35px;
  }

  .a-learn {
    font-size: 16px;
    width: 90px;
  }

  .a-learn:hover {
    letter-spacing: 1px;
    width: 100px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .aboutus {
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 0;
    gap: 30px;
  }

  .abImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .abImg img {
    width: 460px;
    height: 460px;
  }

  .abImg,
  .aboutHead,
  .about1 {
    width: 75%;
    margin: 0 auto 0 auto;
  }

  .aboutHead {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .about1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-us {
    font-size: 35px;
  }

  .about-par {
    font-size: 20px;
  }

  .headh2 {
    font-size: 21px;
  }

  .par2 {
    font-size: 17px;
    ;
  }

  .about1 i {
    font-size: 35px;
  }

  .a-learn {
    font-size: 16px;
    width: 90px;
  }

  .a-learn:hover {
    letter-spacing: 1px;
    width: 100px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .aboutus {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    padding: 60px 13% 60px 13%;
    gap: 30px;
  }

  .abImg,
  .aboutHead,
  .about1 {
    width: auto;
    margin: 0;
  }

  .abImg img {
    width: 300px;
    height: 300px;
  }

  .abImg {
    grid-area: 1/ 2 / 4 / 3;
    display: flex;
    align-items: flex-start;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .aboutus {
    display: grid;
    grid-template-columns: 27% 27% auto;
    grid-template-rows: auto auto;
    padding: 70px 13% 60px 13%;
    gap: 30px;
  }

  .aboutHead {
    grid-column: 1/span 2;
  }

  .abImg img {
    width: 100%;
    height: 80%;
  }

  .abImg {
    grid-area: 1 / 3 / 3 / 3;
  }

  .about-par {
    line-height: 160%;
  }

  .par2 {
    line-height: 160%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .aboutus {
    grid-template-columns: 25% 25% auto;
    padding: 70px 6% 60px 6%;
    gap: 40px;
  }

  .abImg img {
    width: 78%;
    height: 82%;
  }

  .about-us {
    font-size: 40px;
  }

  .about-par {
    width: 80%;
    font-size: 23px;
    line-height: 160%;
  }

  .about1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .par2 {
    line-height: 160%;
  }

}

/* Styling Our Team section */

.ourheading {
  color: #000;
}

.johnR {
  color: rgba(90, 90, 90, 1);
}

.cofounder {
  color: rgba(90, 90, 90, 0.4);
}

.otlorem {
  color: rgba(90, 90, 90, 0.8);
}

.ourLists>li {
  list-style-type: none;
}

.ourLists>li i {
  color: rgba(90, 90, 90, 1);
  transition: all 1s ease;
  cursor: pointer;
}

.ourLists>li i:hover {
  color: rgba(10, 10, 10, 1);
  transform: rotateY(180deg);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .ourteam {
    padding: 70px 4% 80px 4%;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .ourhead {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 0 30px 0;
  }

  .ourheading {
    font-size: 35px;
  }

  .ourimage {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  .imagetolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .nameTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .johnR {
    font-size: 20px;
  }

  .cofounder {
    font-size: 15px;
  }

  .otlorem {
    font-size: 18px;
    text-align: center;
  }

  .ourLists {
    display: flex;
    gap: 7px;
  }

  .ourLists>li {
    font-size: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .ourteam {
    padding: 70px 0 80px 0;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .ourhead {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 0 30px 0;
    width: 70%;
    margin: 0 auto 0 auto;
  }

  .ourheading {
    font-size: 40px;
  }

  .ourimage {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }

  .imagetolist {
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .nameTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .johnR {
    font-size: 20px;
  }

  .cofounder {
    font-size: 15px;
  }

  .otlorem {
    font-size: 18px;
    text-align: center;
  }

  .ourLists {
    display: flex;
    gap: 7px;
  }

  .ourLists>li {
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .ourteam {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 40px;
    padding: 70px 10% 80px 10%;
  }

  .ourhead {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  .imagetolist {
    width: auto;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  .ourteam {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
  }

  .ourhead {
    grid-column: 1 / span 4;
  }
}

/* Styling Blank div. section */

.divblank {
  height: 2px;
  background-color: rgba(100, 100, 100, 0.6);
}

/* Styling Blog section */
.bcreate {
  color: rgba(90, 230, 210, 1);
  text-decoration: none;
}

.bnames {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.nameBlog,
.myDate {
  color: rgba(90, 90, 90, 0.6);
}


.bnews {
  color: rgba(0, 240, 250, 1);
  text-decoration: none;
}

.blorem {
  color: rgba(90, 90, 90, 1);
}

.bcontinue {
  text-decoration: none;
  color: rgba(0, 240, 250, 1);
  transition: all 0.6s ease;
}

.bcontinue:hover {
  color: rgba(0, 240, 250, 0.5);
  letter-spacing: 1px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .blogsection {
    line-height: 150%;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .blog>h1 {
    font-size: 30px;
  }

  .imageblog {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bimage {
    width: 100%;
    height: 300px;
  }

  .bcreate {
    font-size: 19px;
  }

  .nameBlog,
  .myDate {
    font-size: 17px;
  }

  .dotdot {
    width: 5px;
    height: 5px;
    background-color: rgba(90, 90, 90, 1);
    border-radius: 50%;
  }

  .bnews {
    font-size: 16px;
  }

  .blorem {
    font-size: 17px;
  }

  .bcontinue {
    width: 150px;
  }

  .bcontinue:hover {
    width: 160px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blogsection {
    line-height: 150%;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .blog>h1 {
    font-size: 40px;
  }

  .imageblog {
    width: 75%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .bimage {
    width: 100%;
    height: 400px;
  }

  .bcreate {
    font-size: 20px;
  }

  .nameBlog,
  .myDate {
    font-size: 17px;
  }

  .dotdot {
    width: 5px;
    height: 5px;
    background-color: rgba(90, 90, 90, 1);
    border-radius: 50%;
  }

  .bnews {
    font-size: 16px;
  }

  .blorem {
    font-size: 18px;
  }

  .bcontinue {
    width: 170px;
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .blogsection {
    line-height: 150%;
    padding: 70px 5% 70px 5%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    gap: 25px;
  }

  .imageblog {
    width: auto;
    margin: 0;
  }

  .bimage {
    width: 100%;
    height: 310px;
  }

  .blog {
    grid-column: 1 / span 2;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blogsection {
    padding: 70px 5% 70px 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 25px;
  }

  .bimage {
    width: 100%;
    height: 300px;
  }

  .blog {
    grid-column: 1 / span 4;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .blogsection {
    gap: 20px;
    padding: 70px 10% 70px 10%;
  }
}

/* styling contact form section*/

.contactform {
  background-color: rgba(230, 230, 230, 0.3);
}

.coform {
  color: rgba(30, 30, 30, 0.8);
}

.form1,
.coinfo {
  background-color: #fff;
}

.fname1 {
  font-size: 20px;
  color: rgba(30, 30, 30, 1);
}

.fname2,
.email2 {
  outline: none;
}

.fname2 {
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 50px;
}

.email2 {
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 50px;
}

.fname2:focus,
.email2:focus,
.textarea:focus {
  border: 1px solid rgba(0, 240, 250, 1);
}

.textarea {
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 20px;
  outline: none;
  padding: 15px;
}

.submit {
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 50px;
  background-color: rgba(0, 240, 250, 1);
  color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.submit:hover {
  background-color: rgba(0, 240, 250, 0.4);
  letter-spacing: 1px;
}

.cohead {
  color: rgba(40, 40, 40, 1);
}

.coaddress {
  color: rgba(50, 50, 50, 1);
}

.colink {
  text-decoration: none;
  color: rgba(0, 245, 250, 1);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .contactform {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
  }

  .formcontact {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .form1 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .coform {
    font-size: 24px;
  }

  .fcontus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
    font-size: 27px;
  }

  .myForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .firstlast {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .fname2 {
    width: 100%;
  }

  .nameDiv,
  .email2 {
    width: 80%;
  }

  .fname2,
  .email2 {
    padding: 10px;
  }

  .textarea {
    width: 80%;
    height: 100px;
  }

  .submit {
    padding: 5px;
  }

  .coinfo {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 150%;
  }

  .cohead {
    font-size: 17px;
  }

  .colink {
    font-size: 16px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contactform {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
  }

  .formcontact {
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .form1 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .coform {
    font-size: 28px;
  }

  .fcontus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
    font-size: 33px;
  }

  .myForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .firstlast {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .fname2 {
    width: 100%;
  }

  .nameDiv,
  .email2 {
    width: 80%;
  }

  .fname2,
  .email2 {
    padding: 13px;
  }

  .textarea {
    width: 80%;
    height: 100px;
  }

  .submit {
    padding: 13px;
  }

  .coinfo {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 150%;
  }

  .cohead {
    font-size: 17px;
  }

  .colink {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .formcontact {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .form1 {
    width: 59%;
  }

  .nameDiv,
  .email2 {
    width: 100%;
  }

  .textarea {
    width: 100%;
    height: 190px;
  }

  .firstlast {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .coinfo {
    width: 39%;
    height: 260px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .formcontact {
    width: 80%;
  }
}

/* Styling let's get started section */

.getstart {
  width: 100%;
  height: 130px;
  background-color: rgba(0, 200, 200, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.let {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

/* Styling footer */

.footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.flexfooter {
  line-height: 160%;
}

.white,
.ftsub {
  color: #fff;
  font-size: 20px;
  padding-bottom: 25px;
}

.ftabout {
  width: 300px;
}

.ftp {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.ftlist1 {
  list-style-type: none;
}

.ftlist1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.ftlist1 a:hover {
  color: rgba(255, 255, 255, 1);
}

.ftlist2 li {
  padding-right: 10px;
}

.ftlist2 i:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.enteremail {
  max-width: 150px;
  height: 41px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 0px;
  border-radius: 50px 0px 0px 50px;
  color: rgba(255, 255, 255, 0.6);
}

.ftbutton {
  width: 50px;
  height: 43px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 0px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -5px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 200, 200, 1);
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 100px 100px 40px 100px;
}

.copyright {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.heart {
  color: rgba(255, 0, 0, 0.7);
  margin-top: -5px;
}

.colrib {
  text-decoration: none;
  color: rgba(0, 200, 200, 1);
}

.colrib:hover {
  color: rgba(0, 200, 200, 0.5);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px),
(min-width: 600px) {
  .footer {
    width: 100%;
  }

  .flexfooter {
    width: 90%;
    margin: 0 auto 1px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px;
    line-height: 160%;
  }

  .ftlist2 {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer {
    width: 100%;
  }

  .flexfooter {
    width: 90%;
    margin: 0 auto 1px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px;
    line-height: 160%;
  }

  .ftlist2 {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer {
    width: 100%;
  }

  .flexfooter {
    width: 90%;
    margin: 0 auto 1px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
    padding: 2%;
    line-height: 160%;
  }

  .ftmail {
    flex: 40%;
  }

}