* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.mycontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#nav {
  background-color: rgba(240, 240, 240, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.myImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navImg {
  border-radius: 50%;
}

#listedNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.navList>a {
  text-decoration: none;
  font-size: 20px;
}

.navList {
  transition: all 1s ease;
}

.navList:hover {
  transform: rotateY(180deg);
}

.linkedlin {
  color: rgba(0, 200, 255, 1);
}

.mydiscord {
  color: rgb(138, 43, 226);
}

.insta {
  color: rgb(251, 173, 80);
}

.xeeter {
  color: rgba(80, 0, 200, 1);
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  #nav {
    height: 41px;
    padding: 0 3% 0 1%;
  }

  #navImg {
    width: 40px;
    height: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav {
    height: 60px;
    padding: 0 2% 0 1%;
  }

  #navImg {
    width: 57px;
    height: 57px;
  }
}

.stopwatch {
  background: linear-gradient(149deg, rgba(104, 202, 47, 0.4), rgba(204, 102, 47, 0.4), rgba(67, 192, 207, 0.4));
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

button {
  padding: 5px;
  border-radius: 50%;
  outline: none;
  background-color: rgba(20, 20, 20, 0.7);
}

button>i {
  color: rgba(250, 250, 250);
  font-size: 20px;
  font-weight: 500px;
}

#pause {
  background-color: rgba(250, 3, 2, 0.5);
}

.controls {
  margin-top: 90px;
}