* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mycontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#nav {
  background-color: rgba(240, 240, 240, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.myImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navImg1,
#navImg2 {
  border-radius: 50%;
  cursor: pointer;
}

#listedNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.navList>a {
  text-decoration: none;
  font-size: 20px;
}

.navList {
  transition: all 1s ease;
}

.navList:hover {
  transform: rotateY(180deg);
}

.linkedlin {
  color: rgba(0, 200, 255, 1);
}

.mydiscord {
  color: rgb(138, 43, 226);
}

.insta {
  color: rgb(251, 173, 80);
}

.xeeter {
  color: rgba(80, 0, 200, 1);
}

.listApp {
  width: 80%;
  max-width: 600px;
  background: linear-gradient(130deg, rgba(120, 230, 190, 0.6), rgba(230, 120, 89, 0.6), rgba(170, 89, 250, 0.6));
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.listApp>h1 {
  color: #af5;
}

.myInput {
  display: flex;
  flex-direction: row;
}

#todo-list {
  padding: 10px;
  border: none;
  outline: none;
}

#list-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(14, 202, 155, 1);
  transition: all 0.5s ease;
}

#list-btn:hover {
  background-color: rgba(17, 201, 26, 0.5);
}

.outputList {
  margin-top: 20px;
}

#listed {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mydiv {
  display: flex;
}

.my-text {
  padding: 7px;
  background-color: #45ffad;
  width: 180px;
  overflow: hidden;
}

.my-checkbox,
.my-button {
  padding: 7px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.my-button>i {
  color: #f34;
  font-size: 15px;
}

.my-button:hover {
  background-color: rgba(105, 230, 31, 1);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.my-select {
  outline: none;
  border: none;
  padding: 3px;
  cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  #nav {
    height: 41px;
    padding: 0 3% 0 1%;
  }

  #navImg1,
  #navImg2 {
    width: 40px;
    height: 40px;
  }

  .inputList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #todo-list {
    padding: 6px;
  }

  #list-btn {
    padding: 6px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav {
    height: 60px;
    padding: 0 2% 0 1%;
  }

  #navImg1,
  #navImg2 {
    width: 57px;
    height: 57px;
  }

  .inputList {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}